system {
    host-name {{ inventory_hostname }};
    login {
        user sean {
            uid 2000;
            class super-user;
            authentication {
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDNHawZMgHWTQ+uNKIt4l6I7eZdGgeXPHHx8KQxsOboAlbKuRPHItGITmXbPKOVTXoiYjdkH1LGGBLNcMNJ9pA8skjjOgGfa1VrvtzNp6/1+YY8iRXsSvPN6ZuQgthITUpg1qFNRRFIrP1ygSxhFBPY+ULmgdt5YzPs5k4G0MnMD5JavffVsEeUzB/HTtT+orT7baf/w4yLi0s0hX6oQL1ycFa9NmU7wZl1qLPzPH8bxusUEYUL/RagSAoK3AAATwobLqggDpCgpYr+POlxdYVSf9uI0xE7X2G4bpESFchvyEAXw0eYNHjxG5QXEGimctF/9MOE8gjniIJeUsUJzS8b sean@mbp15.local";
            }
        }
    }
    replace:
    name-server {
        {{ dns1 }};
        {{ dns2 }};
    }
    services {
        netconf {
            ssh;
        }
    }
}
