#jinja2: lstrip_blocks: True
{# copy device facts into shorter variable names and lower-case the data #}
{% set model = jfact.facts.model.lower() %}
{% set personality = jfact.facts.personality|lower %}

{#- Determine SSH connection-limit and rate-limit based on device facts #}
{% if model == 'vsrx' %}
  {% set max_ssh = 5 %}
{% elif personality == 'srx_branch' %}
  {% set max_ssh = 3 %}
{% else %}
  {% set max_ssh = 10 %}
{% endif %}

{#- Generate basic settings for the device #}
system {
    host-name {{ inventory_hostname }};
    root-authentication {
        encrypted-password "{{ root_hash }}";
    }
    login {
        user monitor {
            uid 2005;
            class read-only;
            authentication {
                encrypted-password "{{ monitor_hash }}";
            }
        }
        user sean {
            uid 2000;
            class super-user;
            authentication {
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDNHawZMgHWTQ+uNKIt4l6I7eZdGgeXPHHx8KQxsOboAlbKuRPHItGITmXbPKOVTXoiYjdkH1LGGBLNcMNJ9pA8skjjOgGfa1VrvtzNp6/1+YY8iRXsSvPN6ZuQgthITUpg1qFNRRFIrP1ygSxhFBPY+ULmgdt5YzPs5k4G0MnMD5JavffVsEeUzB/HTtT+orT7baf/w4yLi0s0hX6oQL1ycFa9NmU7wZl1qLPzPH8bxusUEYUL/RagSAoK3AAATwobLqggDpCgpYr+POlxdYVSf9uI0xE7X2G4bpESFchvyEAXw0eYNHjxG5QXEGimctF/9MOE8gjniIJeUsUJzS8b sean@mbp15.local";
            }
        }
    }
    replace:
    name-server {
      {% for server in aja_host.dns_servers %}
        {{ server }};
      {% endfor %}
    }
    services {
        ftp;
        delete: ftp;
        netconf {
            ssh {
                connection-limit {{ max_ssh }};
                rate-limit {{ max_ssh }};
            }
        }
        ssh {
            connection-limit {{ max_ssh }};
            rate-limit {{ max_ssh }};
        }
        telnet;
        delete: telnet;
        web-management {
            http;
        }
        delete: web-management;
    }
    replace:
    ntp {
      {% for ntp in aja_site.ntp_servers %}
        server {{ ntp }};
      {% endfor %}
    }
}
snmp {
    description "{{ aja_host.snmp_description }}";
    location "{{ aja_host.snmp_location }}";
}
