#jinja2: lstrip_blocks: True
snmp {
    replace:
    community aja2_sw {
        authorization read-only;
        clients {
            192.168.2.200/32;
            0.0.0.0/0 restrict;
        }
    }
}
