#jinja2: lstrip_blocks: True
snmp {
    replace:
    community aja2_fw {
        authorization read-only;
        clients {
            192.168.1.100/32;
            0.0.0.0/0 restrict;
        }
    }
}
