version 17.1R2.7;
system {
    host-name vMX-1;
    root-authentication {
        encrypted-password "$6$USoxG8Pa$1C4cTJIduD/TQl4YimUFPcH9qxmaEW2hbMVcZ.UMMHWxiT.aWDzbyssxiWSCFamsxvxlJqGiRePDP6T67fq8U0"; ## SECRET-DATA
    }
    login {
        user lab {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$4UdNQUaA$2JCxTx1xGCdbNRsDws/JsAspMhCQTQp12L3okBtsWa.GYdtfwE9eKefLfUSjqS8DdfGwI8XH37Ob9E.DcfYvT0"; ## SECRET-DATA
            }
        }
    }
    services {
        ssh;
        telnet;
        netconf {
            ssh;
        }
    }
    syslog {
        user * {
            any emergency;
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
}
chassis {
    fpc 0 {
        lite-mode;                      
    }
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                address 10.0.0.111/24;
            }
            family mpls;
        }
    }
    ge-0/0/1 {
        unit 0 {
            family inet {
                address 10.0.1.111/24;
            }
            family mpls;
        }
    }
    ge-0/0/2 {
        flexible-vlan-tagging;
        encapsulation flexible-ethernet-services;
    }
    ge-0/0/3 {
        flexible-vlan-tagging;
        encapsulation flexible-ethernet-services;
        unit 100 {
            vlan-id 100;
            family inet {
                address 10.100.0.2/24;
            }
        }
        unit 200 {
            vlan-id 200;
            family inet {
                address 10.200.0.2/24;
            }
        }
    }                                   
    fxp0 {
        unit 0 {
            family inet {
                address 10.254.0.41/24;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 192.168.0.1/32;
            }
        }
    }
}
routing-options {
    route-distinguisher-id 192.168.0.1;
    autonomous-system 65000;
}
protocols {
    bgp {
        group IBGP {
            type internal;
            local-address 192.168.0.1;
            family inet {
                unicast;
            }
            family inet-vpn {
                unicast;
            }
            neighbor 192.168.0.2;
        }
    }
    ospf {
        area 0.0.0.0 {
            interface ge-0/0/0.0 {
                interface-type p2p;
            }
            interface ge-0/0/1.0 {      
                interface-type p2p;
            }
            interface lo0.0;
        }
    }
    ldp {
        interface all;
        interface fxp0.0 {
            disable;
        }
    }
}
routing-instances {
    vr-A {
        instance-type virtual-router;
        interface ge-0/0/3.100;
        routing-options {
            autonomous-system 65100;
        }
        protocols {
            bgp {
                group EBGP {
                    type external;
                    peer-as 65000;
                    neighbor 10.100.0.1;
                }
            }
        }
    }
    vr-B {
        instance-type virtual-router;
        interface ge-0/0/3.200;
        routing-options {
            autonomous-system 65200;
        }
        protocols {
            bgp {
                group EBGP {
                    type external;      
                    peer-as 65000;
                    neighbor 10.200.0.1;
                }
            }
        }
    }
}
