#jinja2: lstrip_blocks: True
{% set model = junos.model.lower() %}
{% set personality = junos.personality | lower %}

{#- Determine SSH connection-limit and rate-limit based on device facts #}
{% if model == 'vsrx' %}
    {% set max_ssh = 5 %}
{% elif personality == 'srx_branch' %}
    {% set max_ssh = 3 %}
{% else %}
    {% set max_ssh = 10 %}
{% endif %}

{#- Generate basic settings for the device #}
system {
    host-name {{ inventory_hostname }};
    login {
        user sean {
            uid 2000;
            class super-user;
            authentication {
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCxgT8ga1uYbS3bxXPPv7aEiTvSwXnK/7xu3NB0+t1njMBuUcgwn7zwtnayQyLS+ef3rNP7WZXwFYxUeFbVwdkLUn9/xvDM5Qi2m/6WRP/yrTRtEvNP4lUsZRH+IXQc59JOKfYqGkvbgfshnmtHJHYVOn/1E/w0cNDYg4oH6KbcqYb+isbKhdiqpDBvLsF9h0GwhaiLk2BpVutw2BZoeKN9vrF+OmcaB0WVzGvwblSHDpXdLfMJuHAyEhZImNSv4bXNAYFGht9zpdTwudP5qfwJo5304Sn62UaOzVN2zGogXKzxgxgAjeJ87io0Graiwo5q9kZYksjXvPzOaX3gt8Uv sean@mbp15.local";
            }
        }
    }
    replace:
    name-server {
      {% for server in aja2_host.dns_servers %}
        {{ server }};
      {% endfor %}
    }
    services {
        delete: ftp;
        netconf {
            ssh {
                connection-limit {{ max_ssh }};
                rate-limit {{ max_ssh }};
            }
        }
        ssh {
            connection-limit {{ max_ssh }};
            rate-limit {{ max_ssh }};
        }
        delete: telnet;
        delete: web-management;
    }
    replace:
    ntp {
      {% for ntp in aja2_site.ntp_servers %}
        server {{ ntp }};
      {% endfor %}
    }
}
snmp {
    description "{{ aja2_host.snmp.description}}"
    location "{{ aja2_host.snmp.location}}"
}
